# Created by venv; see https://docs.python.org/3/library/venv.html
# Upload files
static/uploads/photos/*
!static/uploads/photos/.gitkeep
static/uploads/dosir/*
!static/uploads/dosir/.gitkeep
static/uploads/photos/*
!static/uploads/photos/.gitkeep
static/uploads/ttd/*
!static/uploads/ttd/.gitkeep
static/uploads/surat/*
!static/uploads/surat/.gitkeep
static/icons/*
!static/icons/.gitkeep

# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.env

# Logs
*.log
